
/*I used verdana for the header text*/


body {
	margin:0;
	padding:0;
	height:100%;
	background-color:#712177!important;
}

.background-style {
	background-color:#712177;
	height: 100vh;
}

.container-style {
	background-color: floralwhite;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-width:5px 5px 0px 0px;
	border-left:#AC97AF;
	border-right:#AC97AF;
	border-top:0;
	border-bottom:0;
	border-style: solid;
	margin-bottom:10px;	
}

.content-style {
	min-height:380px;
	padding:10px;
	font-family: Verdana, Geneva, sans-serif;
}

.title-style {
	text-align:center;
	font-weight:bold;
	font-size:18px;
	padding:5px;
}

.paragraph-style {
	padding:10px;
}

.header-background-img-style {
	max-width:100%;
	height:auto;
} 

.brand-invis {}
.header-style {}

@media screen and (max-width: 992px) and (min-width: 769px) {
	.brand-invis{
      visibility:hidden;
	  display:none;
	}
}

@media screen and (max-width: 400px) {
  .navbar-brand {
      font-size:14px!important;
  }
}

.footer-style {
	background-color:#AC97AF;
	min-height:50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Examples CSS Below */

h1 { }
h2 { }
h3 { }

.right { float:right; }
.left  { float:left;  }
.centre, .center { float:center; }

.text-centre, .text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.c10  { float:left; width:10%;  }
.c20  { float:left; width:20%;  }
.c30  { float:left; width:30%;  }
.c40  { float:left; width:40%;  }
.c50  { float:left; width:50%;  }
.c60  { float:left; width:60%;  }
.c70  { float:left; width:70%;  }
.c80  { float:left; width:80%;  }
.c90  { float:left; width:90%;  }
.c100 { float:left; width:100%; }

